<p>
  <button (click)="getUsers()">Get users</button>
  <button (click)="clearUsers()">Clear users</button>
</p>

<br />
<b>isLoading:</b><br />
<h1>{{ isUsersLoadng | async | json }}</h1>

<br />
<b>usersCount:</b><br />
<p>{{ usersCount | async | json }}</p>

<ng-container *ngIf="(usersCount | async) > 0">
  <br />
  <b>users:</b><br />
  <div *ngFor="let user of users | async">
    {{ user.name.first }} {{ user.name.last }}
  </div>
  <p></p>
</ng-container>

<br />
<b>usersLoadngError:</b><br />
<p>{{ usersLoadngError | async | json }}</p>
